body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    border: 2px solid red;
    
}

.card {
    width: 400px;
    height: 250px;
    border: 1px solid black;
    border-radius: 8px;
    margin: 10px;
    padding: 15px;
    text-align: center;
    font-size: xx-large;

}